/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1f1f1f;
  color: white;
}

h2 {
  text-align: center;
  margin-top: 20px 0;
}



header {

  padding: 10px 20px;
}

header > a {
  text-decoration: none;
  color: white;
}

.logo {
  font-size: 1.5rem;
}

.logo > a {
  text-decoration: none;
  color: white;
}

.barra-busqueda {
  padding: 8px;
  border-radius: 4px;
  border: none;
  width: 250px;
}

.carrito {
  font-size: 1rem;
}



/* Seccion productos */
.seccion-productos {
  padding: 20px;
}

.card-producto {
  border: 1px solid #ccc;

}

.card-producto img {
  width: 130px;
  border-radius: 5px;
  height: 115px;
}

.card-producto h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.card-producto p {
  font-size: 1rem;
  color: #333;
}

.card-producto button:hover {
  background-color: #218838;
}



/* Seccion carrito */
.seccion-carrito {
  padding: 20px;
  background-color: #f8f9fa;
  border-top: 1px solid #ccc;
}

#items-carrito {
  padding: 10px 0;
  list-style-type: none;
}

.nombre-item, .info-carrito {
  font-size: 20px;
}

.boton-eliminar {
  cursor: pointer;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.total-carrito {
  font-size: 1.2rem;
  text-align: right;
}

/*css para el punto 8*/
.botones-orden {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.botones-orden button {
  padding: 8px 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.botones-orden button:hover {
  background-color: #218838;
}

/*fin css para el punto 8*/

/*Css para punto 9*/
#btn-vaciar-carrito {
  padding: 10px 15px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 15px 0;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

#btn-vaciar-carrito:hover {
  background-color: darkred;
}

/*fin css punto 9*/